.debug {
    border: 1px solid red;
}

/*region general CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fc-dark: #000;
    --fc-light: #fff;
    --fc-cardbg: rgba(15, 14, 23, 1);
    --fc-mail: rgba(80, 174, 194, 1);
    --fc-title: rgba(229, 54, 125, 1);
}

body {
    max-width: 1170px;
    width: 75%;
    margin: 0 auto;
}

header {
    text-align: center;
    padding: 2rem 0;
}

h1 {
    margin-bottom: 2rem;
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    text-transform: capitalize;
    color: var(--fc-title);
}

h4 {
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

p {
    font-family: 'Dosis', sans-serif;
    font-weight: 200;
}

/* #endregion general CSS*/

/* #region common CSS */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.row {}

.col {
    width: calc(100% / 3);
    background-color: yellow;
    float: left;
}

.col_photo {
    width: 30%;
    aspect-ratio: 1 / 1;
    float: left;
}

.col_text {
    width: 70%;
    float: left;
}

/* #endregion common CSS */